table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.tableContainer{
  padding: 23px;
}
.buttonContainer{
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

.tableTitle{
  font-size: 44px;
  font-weight: bold;
}
.selectGroup{
  border-radius: 30px;
  padding: 8px;
  width: 200px;
  font-size: 18px;
  cursor: pointer,
      
}
.navButton{
  padding: 12px;
  cursor: pointer;
  border-radius: 15px;
}

.pageNum{
  text-align: center;
   margin-top: 50px
}
.nameField{
  cursor: pointer;
}
.nameField:hover{
background-color: rgb(122, 115, 115);
color: white;
font-size: 18px;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  border-left: 3px solid rgb(205, 205, 213);

}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    border-left: none;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}



/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}